<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleIdentifier</key>
	<string>com.fivesquaresoftware.Cumulus</string>
	<key>CFBundleName</key>
	<string>Cumulus Documentation</string>
	
	
	
	
	
	<key>DocSetFeedName</key>
	<string>Cumulus Documentation</string>
	
	<key>DocSetMinimumXcodeVersion</key>
	<string>3.0</string>
	
	<key>DashDocSetFamily</key>
	<string>appledoc</string>
	<key>DocSetPublisherIdentifier</key>
	<string>com.fivesquaresoftware.documentation</string>
	<key>DocSetPublisherName</key>
	<string>Fivesquare Software</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2013 Fivesquare Software. All rights reserved.</string>
</dict>
</plist>
