<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>string</key>
	<string>text</string>
	<key>integer</key>
	<integer>1</integer>
	<key>float</key>
	<real>1.23</real>
	<key>array</key>
	<array>
		<real>0.25</real>
		<integer>9223372036854775807</integer>
		<string></string>
		<dict>
			<key>null</key>
			<string></string>
			<key>longlong</key>
			<integer>9223372036854775807</integer>
			<key>fraction</key>
			<real>0.25</real>
			<key>integer</key>
			<integer>1</integer>
			<key>float</key>
			<real>1.23</real>
			<key>string</key>
			<string>text</string>
			<key>bool</key>
			<true/>
		</dict>
		<true/>
		<real>1.23</real>
		<integer>1</integer>
		<string>text</string>
	</array>
	<key>bool</key>
	<true/>
	<key>null</key>
	<string></string>
	<key>longlong</key>
	<integer>9223372036854775807</integer>
	<key>fraction</key>
	<real>0.25</real>
</dict>
</plist>
